.programs-container{
    
    
    color: white;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
 
}

.program-image {
    width: 100%; 
        height: 200px; 
        object-fit: cover; 
}

.btn-outline-primary {
    color: #eaeef3;
    border-color: #007bff;
    background-color: #007bff;
}
