
<div class="home-page-container ">
    <div class="container">
            <div class="d-flex justify-content-center align-items-center mt-4 " >
                <h3 class="fw-bold font-italic m-0 title">Novosti</h3><br><br>
            </div>
            <div class="container mt-4" style=" max-height: 700px; overflow-x: hidden;">
                <div class="row">
                    <div class="col">
                      
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                @for(n of news; track $index)
                                {
                                <div class="col custom-card">
                                    <div class="card shadow transparent-background ">
                                        <div class="card-header bg-light">
                                            <h5 class="fw-bold m-0">{{ n.title }}</h5>
                                        </div>
                                        <div class="card-body">
                                            <h6 class="card-title fw-bold ">Opis</h6>
                                            <p class="card-text ">{{ n.description }}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <a target="_blank" href="{{ n.link }}" class="btn btn-primary gray-background ">Saznaj više</a>
                                                <span class="fw-bold">{{ n.category }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
               
                </div>
            </div>
            

            

        </div>
    </div>
