.menu {
 
  height: 100vh; 

}

.content
{
  background-image: url("../../assets/weights.jpg");
  height: 100vh;
}

.menu-link {
  color: white; 
  text-decoration: none;
  transition: color 0.3s; 
  font-size: 25px;

}

/* Stilovi za linkove kad se pređe mišem preko njih */
.menu-link:hover {
  color: #194574; /* Tamnoplava boja kad se pređe mišem preko linka */
}